In [1]:
a = [38,64,33,86]
for i in a:
    print(i,end=" ")

38 64 33 86

In [2]:
#check wheather 30 is present in the above lists or not

In [4]:
for i in a:
    if i == 30:
        print("value found")
        break
else:
    print("value not found")

value not found

In [12]:
#wap in python to find the index value of a number 30 in the list a= [10,20,30,40]

a =[10,20,30,40]
a.index(30)

#using for loop

for i in range (len(a)):
    if a[i] == 30:
        print(i)
        break

2

In [14]:
#imagine that there are 500 elemets in the list,what is the way to access the last elements?

b =[24,75,82,86,49,28,82,68,34,98,62,39,73,46,23,97,48]
print(len(b)-1)

16

In [20]:
#how to acces the element 1 using reverse indexing

list_1=[1,64,74,84,97,97,96,41,68,73,28,46,28,26,75,85,46,24,89,12,75]

list_1[-21]

1

In [28]:
#how to get a particular element in the list

information =[23,"ABC",9.5,'a']
print(information)

information[1]

#in information list how we can add "hello" in the list?
information += "hello"
print(information)

#in information list ,change the "ABC" to "XYZ" in list

information[1] ="XYZ"
print(information)

[23, 'ABC', 9.5, 'a']
[23, 'ABC', 9.5, 'a', 'h', 'e', 'l', 'l', 'o']
[23, 'XYZ', 9.5, 'a', 'h', 'e', 'l', 'l', 'o']

In [35]:
#how to acces the first three elements?
information[0:3]
#we can acces particular manner
information[:0]
information[:1]
information[:2]
information[:3]

[23, 'XYZ', 9.5]

In [38]:
# how to achieve the following [23,'a','l']

information[::3]

[23, 'a', 'l']

In [40]:
#wap in python to reverse all the elements using indexing

information[::-1]

['o', 'l', 'l', 'e', 'h', 'a', 9.5, 'XYZ', 23]

In [42]:
#how to achieve this output "9845451210",8.58 ?

student_2=[2,"STU",8.58,"female","india","9845451210"]
student_2[::-3]

['9845451210', 8.58]

In [46]:
#Wap in python to create a list of 100 elements,where all the entries are same number,and the number is given by the user

# Take a number as input from the user
number = int(input("Enter a number to fill the list: "))

# Create a list of 100 elements with the same number
result_list = [number] * 100

# Print the list to confirm
print("List of 100 elements with all entries as", number, ":", result_list)

Enter a number to fill the list: 50
List of 100 elements with all entries as 50 : [50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50]

In [52]:
#Wap in python code to create a list of first 10 odd elements without using decision making statements

odd_numbers = [2 * i + 1 for i in range(10)]
print("First 10 odd numbers:", odd_numbers)

First 10 odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [56]:
#Wap in python to create a list of 1 to 10 elememts and form the list created, create another list with only odd values.


numbers = list(range(1, 11))
odd_numbers = [num for num in numbers if num % 2 != 0]

print("List of numbers from 1 to 10:", numbers)
print("List of odd numbers:", odd_numbers)



list1 = list(range(1,11))
odd = list1[::2]
print(list1)
print(odd)

List of numbers from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List of odd numbers: [1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [57]:
#Wap in python code to create a list of 1 to 10 elements nd form the list created ,create another list with only even values.

numbers = list(range(1, 11))
even_numbers = [num for num in numbers if num % 2 == 0]

print("List of numbers from 1 to 10:", numbers)
print("List of even numbers:", even_numbers)



even = list1[1::2]
print(even)

List of numbers from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List of even numbers: [2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [2]:
#wap in python to create a list ,which extracts elements from the string given by the user.

# Take a string input from the user
user_string = input("Enter a string: ")

# Create a list by extracting each character from the string
char_list = list(user_string)

# Print the list to confirm
print("List of characters from the string:", char_list)

Enter a string: BALAKRISHNA
List of characters from the string: ['B', 'A', 'L', 'A', 'K', 'R', 'I', 'S', 'H', 'N', 'A']