In [1]:
dict1 = {
    1 : "Monday",
    2 : "Tuesday",
    3 : "Wednesday"
}

In [2]:
dict1

{1: 'Monday', 2: 'Tuesday', 3: 'Wednesday'}

In [3]:
for i in dict1.values():
    print(i)

Monday
Tuesday
Wednesday

In [4]:
for i,j in dict1.items():
    print(i,j)

1 Monday
2 Tuesday
3 Wednesday

In [5]:
dict2 = {
    1 : (2,4,5),
    "Name" : "Face",
    3 : [5,7]
}

In [6]:
for i,j in dict2.items():
    print(i,j)

1 (2, 4, 5)
Name Face
3 [5, 7]

In [7]:
myfamily = {
    1: "Akbar",
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [8]:
for i,j in myfamily.items():
    print(i,j)

1 Akbar
child1 {'name': 'Emil', 'year': 2004}
child2 {'name': 'Tobias', 'year': 2007}
child3 {'name': 'Linus', 'year': 2011}

In [9]:
original = {'a':1,'b':2,'c':3,'d':4}

tranform = {k: v * 10 for k,v in original.items()}
tranform

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [10]:
numbers = [1,2,3,4]
nested_dict = {x: {'square': x**2, 'cube': x**3, 'quar' : x**4} for x in numbers}
nested_dict

{1: {'square': 1, 'cube': 1, 'quar': 1},
 2: {'square': 4, 'cube': 8, 'quar': 16},
 3: {'square': 9, 'cube': 27, 'quar': 81},
 4: {'square': 16, 'cube': 64, 'quar': 256}}

In [11]:
keys = ['a','b','c','d']
value = [1,2,3,4]

filtered_dict = {keys[i]: value[i]    for i in range(len(keys))     if i % 2 == 0}
filtered_dict

{'a': 1, 'c': 3}

In [12]:
tuples = [('a',1),('b',2),('c',3)]

my_dict = {key: value for key, value in tuples}
my_dict

{'a': 1, 'b': 2, 'c': 3}

In [13]:
keys1 = ['a','b','c']
value1 = [1,2,3,4]

my_dict = {k:value1[i]  if i < len(value1) else 0 for i, k in enumerate(keys1)}

my_dict

{'a': 1, 'b': 2, 'c': 3}