In [3]:
Tuple =('hello')
n = 3
for i in range(int(n)):
    Tuple = ( Tuple,)
    print(Tuple)

('hello',)
(('hello',),)
((('hello',),),)

In [4]:
tuple = ('D',5,6,7,"3",55)
print(len(tuple))

6

In [5]:
tuple =( 9,5,89,4,8)
print(min(tuple))

4

In [6]:
tuple =( 9,5,89,4,8)
print(sum(tuple))

115